/********************* 总容器 *************************/
.wrapper{
	width: 100%;
	height: 100%;
	background-color: #f6fff8;
}

/********************* header部分 *************************/
.wrapper header{
	width: 100%;
	height: 8vw;
	background-color: #f6fff8;
	color: #4c4c4c;
	font-size: 6vw;
	padding: 6vw 0vw 5vw 0vw;
	
	left: 0;
	top: 0;
	z-index: 1000;
	
	display: flex;
	justify-content: center;
	align-items: center;
}


/********************* 历史订单 *************************/
.wrapper h3{
	margin-top: 2vw;
	box-sizing: border-box;
	padding: 2vw 0vw 1vw 6vw;
	font-size: 4.5vw;
	font-weight: 400;
	color: #959595;
}

.wrapper .order{
	width: 100%;
}

.wrapper .order li{
	width: 94%;
	background-color: #e5f8f7;
	margin: 2vw 4vw 2vw 4vw;
	border: 4px #DDD;
	border-radius: 8px;

}

.wrapper .order li .order-info{
	box-sizing: border-box;
	padding: 3vw 2vw 2vw 4vw;
	font-size: 4vw;
	font-weight: 500;
	color: #535353;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper .order li .order-info .order-info-right{
	display: flex;
}

.wrapper .order li .order-detailed{
	width: 95%;
}

.wrapper .order li .order-detailed li{
	width: 100%;
	box-sizing: border-box;
	padding: 1vw 2vw 0.5vw 2vw;
	color: #767676;
	font-size: 3vw;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper .order li .order-other{
	padding: 1vw 0vw 2vw 5vw;
	width: 100%;
	box-sizing: border-box;
	color: #919191;
	font-size: 1vw;
	
	display: flex;
	justify-content: space-between;
}

.wrapper .order li .order-other .order-other-left p{
	padding: 0vw 2vw 1vw 0;
}

.wrapper .order li .order-other .order-other-right{
	display: flex;
	padding: 8vw 2vw 0vw 0;
}

.wrapper .order li .order-other .order-other-right .order-other-right-icon{
	background-color: #0bc1ea;
	font-size: 3.5vw;
	font-weight: 500;
	padding: 1vw 3vw 1vw 3vw;
	color: #d7fefa;
	margin-left: 2vw;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
}

.wrapper .order li .order-other .order-other-right .order-other-right-icon2{
	background-color: #f2feff;
	font-size: 3.5vw;
	font-weight: 500;
	padding: 1vw 3vw 1vw 3vw;
	color: #424847;
	margin-left: 2vw;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
	border: solid 1.5px #9e9e9e;
}