/********************** CSS重置 **************************/
/*去掉外、内边距*/
html,body,div,span,h1,h2,h3,h4,h5,h6,ul,ol,li,p{
    margin: 0;  
    padding: 0;
}
/* 移动端网页视图设置成100% */
html,body{
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}
/*去掉列表样式*/
ul,ol{
    list-style: none;
}
/*去掉超链接下划线*/
a{
    text-decoration: none;
}